*{
    padding: 0;
    margin: 0;
}


body{
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.navbar__s1__title{
    color: rgb(150, 35, 216);
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    
}

.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    
}

.navbar__s2 input:focus{
    border: none;
}

.navbar__s3{
    
    display: flex;
    gap: 10px;
    align-items: center;
    
} 

 .navbar__s4{
        display: none;
    }

.mylearning{
    position: relative;
    cursor: pointer;
}

.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 2px;
    padding: 15px;
    width: 100%;
    top: 150%;
    right: 0;
    display: none;
        
}

.mylearning:hover .mylearning__popup{
    display: block;
}

.catagories{
    padding: 10px;
    border-bottom: solid black 1px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}

.catagories p{
    background-color: rgb(150, 35, 216);
    color: white;
    border-radius: 20px;
    padding: 10px;
    border: solid  rgb(150, 35, 216) 2px;
}

.catagories :hover{
    background-color: white;
    color: black;
    transition: 0.8s;
}

.sale-image img{
    width: 100%;
  
}

.sale-image{
    position: relative;
}

.sale-image__offer{
    background-color: white;
    border: solid black 2px;
    width: 30%;
    padding: 2%;
    position: absolute;
    top: 15%;
    left: 5%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.recommended__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;

}

.recommended{
    padding: 10px;
}

.course-card{
    width: 350px;
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
    
}

.course-card img{
    width: 100%;
    height: 50%;
}

.topics{
    padding: 10px;
}

.topics__container{
    display: flex;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
    text-align: center;
    flex-wrap: wrap;
}

.topics__container p{
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;    
}

.popular{
    padding: 10px;
}

.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer{
    background-color: black;
    color: white;
    padding: 30px;

}

.footer__one{
    display: flex;
    gap: 10px;
}

.footer__one p{
    margin: 20px;
}


.footer__two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px; 
}

@media screen and (max-width:800px) {
    body{
        font-size: 12px;
    }
}

@media screen and (max-width:600px) {
    .course-card{
        flex-grow: 1;
        flex-basis: 40%;
    }
    .navbar__s2{
        input{
            display: none;
           
        }
    }
    .navbar__s3{
        display: none;
    }

     .navbar__s4{
        display: block;
    }

    .catagories{
        display: none;
    }

    .sale-image__offer{
        width: 35%;
    }

}